In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

Here's how we can create a Pandas Series with the given data and print it:

import pandas as pd

# Creating a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Printing the series
print(series)

Output:
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

This will create a Pandas Series containing the provided data and print it out.

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

Here's how you can create a list variable with 10 elements and convert it into a Pandas Series:

import pandas as pd

# Creating a list variable with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Converting the list into a Pandas Series
series = pd.Series(my_list)

# Printing the series
print(series)

This will create a Pandas Series from the list variable `my_list` and print it out.

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:
Name                 Age		     Gender
Alice                 25             Female
Bob                   30              Male
Claire                27             Female
Then, print the DataFrame.


You can create a Pandas DataFrame with the provided data and then print it as follows:

import pandas as pd

# Creating the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

This code will output:

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

This DataFrame contains the specified data with columns 'Name', 'Age', and 'Gender'.

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, where data is organized into rows and columns. Each column in a DataFrame is a Pandas Series.

A Pandas Series, on the other hand, is a one-dimensional labeled array capable of holding data of any type. It can be seen as a single column of data within a DataFrame.

Here's an example to illustrate the difference between a DataFrame and a Series:

import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print()

# Extracting a Series from the DataFrame
name_series = df['Name']
print("Series (Name column):")
print(name_series)

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions include:

1. **`head()` and `tail()`:** These functions allow you to view the first few or last few rows of the DataFrame, respectively.
   
   Example:
   # View the first 5 rows of the DataFrame
   df.head()
   
   # View the last 3 rows of the DataFrame
   df.tail(3)

2. **`info()`:** This function provides a concise summary of the DataFrame, including column names, data types, and non-null counts.

   Example:
   # Display information about the DataFrame
   df.info()

3. **`describe()`:** This function generates descriptive statistics summarizing the central tendency, dispersion, and shape of the distribution of numerical columns.

   Example:
   # Generate descriptive statistics
   df.describe()

4. **`dropna()`:** This function is used to remove rows or columns with missing values (NaN).

   Example:
   # Remove rows with missing values
   df.dropna(inplace=True)

5. **`fillna()`:** This function is used to fill missing values with a specified value or method.

   Example:
   # Fill missing values with the mean of the column
   df.fillna(df.mean(), inplace=True)

6. **`groupby()`:** This function is used to group data based on one or more columns and perform aggregate functions on them.

   Example:
   # Group data by 'Gender' and calculate the average age for each group
   df.groupby('Gender')['Age'].mean()

7. **`sort_values()`:** This function is used to sort the DataFrame by one or more columns.

   Example:
   # Sort the DataFrame by 'Age' in ascending order
   df.sort_values(by='Age', ascending=True, inplace=True)

These are just a few examples of common functions used to manipulate data in a Pandas DataFrame. Depending on the specific data manipulation tasks you need to perform, there are many more functions available in the Pandas library to suit your needs.

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among Series, DataFrame, and Panel, DataFrame is mutable in nature. 

A mutable object is one that can be modified after its creation. In the context of Pandas:
- Series and DataFrame are mutable.
- However, Panel is immutable. 

In practice, this means that you can change the values, add or remove columns or rows in a DataFrame or Series after creation, but you cannot do the same with a Panel.

For example:
import pandas as pd

# Creating a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Modifying DataFrame
df['C'] = [7, 8, 9]  # Adding a new column
df.loc[0, 'A'] = 0   # Modifying a value

print(df)

This code modifies the DataFrame `df` by adding a new column 'C' and modifying the value in the first row of column 'A'.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

You can create a DataFrame using multiple Series by passing them as a dictionary to the `pd.DataFrame()` constructor. Each Series will become a column in the resulting DataFrame, and they must have the same length to align properly. Here's an example:

import pandas as pd

# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using multiple Series
data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}

df = pd.DataFrame(data)

print(df)

Output:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female